[Unit]
Description=Puppet agent
After=network.target

[Service]
ExecStart=/usr/bin/puppet agent --server master --no-daemonize
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
